
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Light gray background */
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    color: #000000; /* Bootstrap primary color */
    margin-top: 20px;
  }
  
  .navbar {
    background-color: #343a40; /* Bootstrap dark background color */
    overflow: hidden;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #ffffff; /* White text color */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #ddd; /* Gray background color on hover */
    color: #343a40; /* Dark text color on hover */
  }
  
  .carousel-item img {
    width: 100%;
    height: auto;
  }
  
  .news {
    margin-bottom: 20px;
  }
  
  .news h2 {
    color: #007bff; /* Bootstrap primary color */
  }
  
  .news p {
    color: #666;
  }
  
  .card {
    border: 1px solid #ddd; /* Light gray border */
    border-radius: 8px;
    transition: box-shadow 0.3s;
  }
  
  .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow on hover */
  }
  
  .card-title {
    color: #343a40; /* Dark text color for card title */
  }
  
  .card-text {
    color: #666;
  }
  
  .card a {
    color: #007bff; /* Bootstrap primary color for links */
    text-decoration: none;
  }
  
  .card a:hover {
    text-decoration: underline;
  }
  
  .row-cols-md-3 .col {
    margin-bottom: 20px;
  }
  
  .row-cols-md-2 .col {
    margin-bottom: 20px;
  }
  
.navbar {
    background-color: rgb(216, 74, 255);
    overflow: hidden;
   }
   
   .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
   }
   
   .navbar a:hover {
    background-color: #ddd;
    color: black;
   }
   